body{
    padding:0;
    margin: 0;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:#8ee690;
    box-shadow: 2px 3px 2px 2px gray;
}
#search-text{
    width:360px;
    padding:6px 10px;
    border-radius: 20px;
    border:none;
    background:#d4ded1;
    font-size:18px;
}
#search-text:focus{
    outline:none;
}
#logo_img{
    width: 60px;
    height: auto;
    padding:10px;
}
#search-btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.search-form{
    display:flex;
}
#auth-btn{
    font-size:18px;
    padding:8px 15px;
    background:#35a8b0;
    border: none;
    border-radius:20px;
    cursor: pointer;
}
#auth-btn:focus{
    outline: none;
    text-decoration: none;
}
#auth-btn a,p{
    text-decoration: none;
}
.dropdown-content{
    display:none;
    text-decoration: none;
    flex-direction: column;
    position: absolute;
    background-color:#d4d4d4;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown-content p:hover  {
    background-color: #ddd;
}

.account-dropdown:hover .dropdown-content {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    text-decoration: none;
}
